@charset "UTF-8";


@media screen and (min-width: 577px) and (max-width: 768px) {
    /* Ajustes para dispositivos móveis grandes e tablets pequenos */
    section{
        width: 80%;
        height: 80%;
        flex-direction: row;
    }
    section div#imagens {
        width: 35%;
        height: 100%;
    }   
    section div#formulario{
        float: right;
        width: 65%;
  }

/* Para telas entre 768px e 992px */
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom,#3E6FBB,#C8CFD9, #FD7762);
    }

    section{
        width: 80%;
        flex-direction: row;
    }


    section div#imagens {
        width: 35%;
        height: 100%;
    }   
    section div#formulario{
        float: right;
        width: 65%;
    }



}


/* Para telas entre 992px e 1280px */
@media screen and (min-width: 992px){

body{
    background-image: linear-gradient(to bottom,#3E6FBB,#FD7762);
}

section{
    display: flex;
    width: 70%;
    flex-direction: row-reverse;

}

section div#imagens{
    flex: auto;
    width: 35%;
    height: 100%;
}

section div#formulario{
    width: 60%;
    height: 100%;
  }
}

}